.query-form {
  mat-form-field, button {
    margin-right: 8px;
  }
}

.book-info {
  margin: 28px 0;

  .book-img {
    height: 300px;
    max-width: 300px;

    img {
      height: 100%;
      object-fit: contain;
      box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.75);
    }
  }
}
